body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #ffd700; /* Cor de ouro */
    animation: blink 1.5s infinite;
    background: linear-gradient(90deg, #ffd700, #ffcc00, #ffd700);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

.edit-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #ffd700;
    font-size: 1.2em;
}

.edit-icon:hover {
    color: #ffcc00;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: #ffd700;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #555;
}

h2 {
    text-align: center;
    color: #ffd700; /* Cor de ouro */
}

/* Estilo comum para todos os botões */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo específico para o botão "Calcular Total" */
button.calcular-total {
    background-color: #4CAF50; /* Cor verde */
    color: white;
    width: 200px; /* Largura fixada */
}

/* Estilo específico para o botão "Salvar em PDF" */
button.salvar-pdf {
    background-color: #393a3b; /* Cor azul */
    color: white;
    width: 200px; /* Largura fixada */
}

/* Estilo para o botão ao passar o mouse */
button:hover {
    opacity: 0.8;
}


footer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

